.feed-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
 
  margin:3px;
  /* width: auto; */
  padding:5px;
}
.feed-masonry-grid_column { 
  padding-left: 30px;
  background-clip: padding-box;
}
 
/* Style your items */
.feed-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 30px;
  width: 80px;
}
.feed-image{
    padding:20px;
    width: 100;
    height: auto;
}
.image-div{
    width:60px;
}

@media (max-width: 800px) {
  .feed-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .feed-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .feed-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}